
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Tache</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
            body.bg-white {
              background-color: white;
              color: black;
            }
            body.bg-red {
              background-color: blue    ;
              color: white;
            }
    </style>
</head>

<body id="Mode" class=" bg-white dark:bg-blue-950 ">
    <div class="w-full flex h-full">
        <div class=" mx-64 w-full  ">
            <h2 class="text-lg text-center font-medium mt-2 mx-5 mb-5 dark:text-white">Liste Taches</h2>
            <div class="w-full flex justify-end content-end  mx-40">
                <label class="inline-flex items-center cursor-pointer">
                    <input id="toggleButton" type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span  class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Toggle me</span>
                  </label>
            </div>
            <form id="" class="mx-4 mb-8 flex" action="">
                <input id="tacheFilter" class="rounded-lg h-9 border" type="text" placeholder="Search...">
                <select class="w-32 mx-2 h-9 border rounded-lg" name="" id="">
                    <option class="text-center" value="">All</option>
                    <option class="text-center" value="">Complet</option>
                    <option class="text-center" value="">Incomplet</option>
                </select>
                <button class=" w-10 h-8 bg-sky-700 rounded text-white font-bold">OK</button>
            </form>
            <div class="w-full  items-center justify-center px-16 mt-5">
                <table id="taskTable" class="w-5/6 border mx-16 mt-5">
                    <thead class="bg-gray-50 dark:">
                        <tr class="" >
                            <th scope="col" class="text-black px-2 py-3 ">
                                <input class="" type="checkbox"  id="doneAll" onclick="doneAll(this)">      
                            </th>
                            <th scope="col" class="text-black px-2 py-3 text-center ">
                                Nom
                            </th>
                            <th scope="col" class="text-black px-2 py-3 text-center ">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="taskBody">
                        
                    </tbody>
                </table>
            </div>
            <div class="w-full ">
                <!-- Modal toggle -->
                <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class=" w-10 h-10 flex items-center justify-center rounded-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    <span class="material-symbols-outlined ">
                        add
                    </span>
                </button>
            </div>
        </div>
    </div>
      <!-- Main modal -->
  <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Ajouter Tache
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form id="taskForm" class="space-y-4" action="#">
                    <div>
                        <label  for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                        <input id="inputTache" type="text" name="nom"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <button id="taskBtn" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div> 
    <script src="../js/tache.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>